<ion-header class="ion-no-border header-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="close();">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{inputData.data?.parameters.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset();">Reset</ion-button>
      <ion-button (click)="submit();">Apply</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="white-bg ion-padding">
    <ion-grid>

      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">Branch</div>
            <adj-multi-select [data]="branchNames" mapFn="v=>v"
              (selected)="filter.branch = $event;handleBeatTypeSelection();handleMerchantTypeSelection();">
            </adj-multi-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">Market Name</div>
            <adj-multi-select [viewTemplate]="beatTemplate" name="beatName" [data]="markets$ | async" mapFn="v=>v"
              (selected)="filter.MarketName = $event;"></adj-multi-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">RA Type</div>
            <adj-multi-select [data]="raTypes" mapFn="v=>v" (selected)="filter.RAType = $event;"></adj-multi-select>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">RA Color</div>
            <adj-multi-select [data]="raColors" mapFn="v=>v" (selected)="filter.RAColor = $event;"></adj-multi-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">Beats</div>
            <adj-multi-select [data]="beatsNames" mapFn="v=>v" (selected)="filter.Beat = $event;"></adj-multi-select>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="multi-select-form-field ion-margin-vertical">
            <div class="form-field-label">Merchentiser</div>
            <adj-multi-select [data]="merchantiser$ | async" mapFn="v=>v" [viewTemplate]="beatTemplate"
              name="merchantName" (selected)="filter.Merchandiser = $event;"></adj-multi-select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>


<ng-template #beatTemplate let-beat="option">
  <div>
    <div>{{beat.name}}</div>
    <div class="small-font mild" style="padding-top:4px">{{beat.type}}</div>
  </div>
</ng-template>

<ng-template #storeTemplate let-store="option">
  <div>
    <div>{{store.name}}</div>
    <div class="small-font mild" style="padding-top:4px">{{store.territory_name }} {{"|"}}
      {{store.outlet_type_name}}</div>
  </div>
</ng-template>