:host{
    mat-form-field{
        width: 100%;
    }
    .justify-center {

        display: flex;
        justify-content: center;
    }
    .imgurl-align {
        width: 700px;
        height: 700px;
    }
}