$small-margin: 4px ;

.search-bar{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.12);
    display: flex;
    align-items: center;

    
    input{
        outline: none;
        border: none;
        margin-left: 16px;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &::placeholder{
            font-size: 0.8rem;
        }
    }

    &:focus-within{
        border: 2px solid #000;
    }
}

.small-margin-top{
    margin-top: $small-margin;
}

.inline-block{
    display: inline-block;
}

.danger-button{
    color: var(--ion-color-danger, 'red') !important;
}

.light-border{
    border: 1px solid rgba(0,0,0,0.12);
}

.light-background{
    background: var(--ion-color-light);
}