<ion-header class="ion-no-border header-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="close();">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submitForm();">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding white-bg">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm();">
      <ion-grid>
        <ion-row>
          <ion-col>
            <mat-form-field appearance="outline">
              <mat-label>User Name<sup>*</sup>
              </mat-label>
              <input matInput type="text" formControlName="name" [readonly]="true" />
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <mat-form-field appearance="outline">
              <mat-label>User ID<sup>*</sup>
              </mat-label>
              <input matInput type="text" formControlName="user_id" [readonly]="true" />
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <mat-form-field appearance="outline">
              <mat-label>Password<sup>*</sup>
              </mat-label>
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-padding">
              <ion-button type="submit" expand="block">
                <ion-icon name="send-outline" slot="start"></ion-icon>Submit
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>