<div>
	<div class="ion-padding-horizontal">
	  <ion-grid>
		<ion-row>
		  <ion-col>
			<div class="ion-text-right">
			  <ion-grid class="ion-no-padding">
				<ion-row class="ion-align-items-center">
				  <ion-col size="8">
					<div class="white-bg search-bar">
					  <ion-icon name="search-outline" class="mild"></ion-icon>
					  <input type="text" [formControl]="searchInput" placeholder="Search with Store Name or Dhanush ID">
					</div>
				  </ion-col>
  
				  <ion-col class="ion-padding-horizontal">
					<ion-button size="small" class="srch_clear" (click)="performSearch();" fill="outline">Search
					</ion-button>
					<ion-button class="srch_clear" (click)="clear();" size="small" fill="outline">Clear</ion-button>
				  </ion-col>
				</ion-row>
			  </ion-grid>
			</div>
		  </ion-col>
  
		  <ion-col>
			<div class="ion-text-right">
			  <!-- <ion-button (click)="exportReport();" size="small" fill="outline">
				Download
				<ion-icon name="download-outline" slot="start">
				</ion-icon>
			  </ion-button> -->
			  <!-- <ion-button (click)="exportReport();" size="small" fill="outline">
				Upload
				<ion-icon name="cloud-upload-outline" slot="start">
				</ion-icon>
			  </ion-button> -->
  
			  <!-- <ion-button (click)="exportVisits();" size="small" fill="outline">
				Download
				<ion-icon name="download-outline" slot="start">
				</ion-icon>
			  </ion-button> -->
			  <ion-button [fill]="storeFilter && storeFilter.isNotEmpty()? 'solid': 'outline'" size="small"
				(click)="showFilter($event)">
				<ion-icon name="funnel-outline" slot="start">
				</ion-icon>
				filter
			  </ion-button>
			  <!-- <ion-button (click)="showStoreActions($event);" size="small"
				fill="outline">Actions
				<ion-icon name="hammer-outline" slot="start">
				</ion-icon>
			  </ion-button> -->
  
			  <ion-button size="small" fill="outline" (click)="showDateOptions($event);">
				<ion-icon name="calendar-outline" slot="start"></ion-icon>
				{{dateFunction.label}}
			  </ion-button>
			</div>
		  </ion-col>
  
		</ion-row>
	  </ion-grid>
	</div>
	<rainbow-body>
	  <adjoint-paginated-list [config]="paginatedListConfig" [lgTemplate]="storeTemplate" [mapFn]="mapData"
		(onContent)="handleResponse($event)">
	  </adjoint-paginated-list>
	</rainbow-body>
  </div>
  
  
  
  
  <ng-template #storeTemplate let-results="results">
	<div class="ion-padding-horizontal">
	  <div class="ion-padding-bottom mild small-font" *ngIf="totalRecords">
		{{'Total Records' | uppercase}} - {{totalRecords}}
	  </div>
	  <ion-grid *ngIf="results" class="ion-no-padding adjoint-data-grid mat-elevation-z2 boder-box white-bg">
		<ion-row class="grid-header sticky-header">
		  <!-- <ion-col size="auto" style="opacity: 1;">
			<span>
			  <ion-checkbox [(ngModel)]="selectAll" (ngModelChange)="handleAllSelectionChange();"></ion-checkbox>
			</span>
		  </ion-col> -->
		  <ion-col size="2"><span>{{'Store Name'}}</span></ion-col>
		  <ion-col><span>{{'District'}}</span></ion-col>
		  <ion-col><span>{{'Branch'}}</span></ion-col>
		  <ion-col><span>{{'Market Name'}}</span></ion-col>
		  <ion-col><span>{{'WD ID'}}</span></ion-col>
		  <ion-col><span>{{'Beat'}}</span></ion-col>
		  <ion-col><span>{{'Visited'}}</span></ion-col>
		  <!-- <ion-col><span>{{'Status'}}</span></ion-col> -->
		  <ion-col size="auto">
			<span>
			  <ion-button fill="clear" class="invisible">
				<ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
			  </ion-button>
			</span>
		  </ion-col>
		</ion-row>
		<ion-row *ngFor="let store of results" [routerLink]="['/sunrise/stores', store.store_id]"
		  class="white-bg ion-align-items-center">
		  <!-- <ion-col size="auto">
			<div>
			  <ion-checkbox [(ngModel)]="store.selected"></ion-checkbox>
			</div>
		  </ion-col> -->
		  <ion-col size="2">
			<div>
			  <div>{{store.store_name}}</div>
			  <div class="small-font mild" style="margin-top:4px;">{{store.outlet_id}}</div>
			  <div class="small-font mild" style="margin-top:4px;">Dhanush ID: {{store.dhanush_id}}</div>
			</div>
		  </ion-col>
		  <ion-col>
			<div>{{store.district}}</div>
		  </ion-col>
		  <ion-col>
			<div>
			  <div>{{store.branch}}</div>
			  <div class="small-font mild" style="margin-top:4px;">{{store.outlet_id}}</div>
			</div>
		  </ion-col>
		  <ion-col>
			<div>{{store.market_name}}</div>
		  </ion-col>
		  <ion-col>
			<div>{{store.wd_id}}</div>
		  </ion-col>
		  <ion-col>
			<div>
			  <div>
				{{store.beat_name}}
			  </div>
			</div>
		  </ion-col>
		  <ion-col>
			<div>
			  {{store.updated_on | date}}
			</div>
		  </ion-col>
		  <!-- <ion-col (click)="showStoreDetails('VIEW', store)">
			<div>
			  <ion-chip class="ion-no-margin" [color]="store.store_status ? 'success' : 'danger' ">
				<ng-container *ngIf="store.store_status">Active</ng-container>
				<ng-container *ngIf="!store.store_status">Inactive</ng-container>
			  </ion-chip>
			</div>
		  </ion-col> -->
		  <ion-col size="auto">
			<div class="ion-text-right">
			  <ion-button color="dark" fill="clear">
				<ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
			  </ion-button>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	</div>
  </ng-template>